<h1>New game</h1>
<div class="container">
  <div class="letter-div">
    <% @letters.each do |letter| %>
    <%= letter %>
    <% end %>
  </div>
  <p>What is the longest word you can find?</p>
<form action="/score" method="post">
  <input type="text" name="answer">
  <input type="submit" name="submit" value="Play!">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= hidden_field_tag :letters, @letters %>
</form>


</form>
</div>
